// .login-left {
//   width: 60%;
//   height: 100%;
//   background-image:url(../../assets/images/background.png) ;
//   background-size: 100%;
//   -webkit-background-size: 100%;
//   display: flex;
//   flex-direction: column;
//   position: relative;
//   .relogin-left-icon {
//     width: 315px;
//     height: 66px;
//     margin-top: 51px;
//   }
//   .top{
//     position: relative;
//   }
//   .relogin-left-text2 {
//     // position: absolute;
//     float: right;
//     width: 255.13px;
//     height: 16px;
//     margin-right: 60px;
//     margin-top: 68px;
//   }
//   .relogin-left-ellipse {
//     position: absolute;
//     width: 340px;
//     height: 340px;
//     left: 50%;
//     top: 45%;
//     transform: translate(-50%, -50%);
//     // margin-left: 255px;
//     // margin-top: 215px;
//     filter: drop-shadow(0px 4px 145px rgba(255, 255, 255, 0.1));
//   }
//   .relogin-left-text1 {
//     position: absolute;
//     width: 220px;
//     height: 58px;
//     left: 50%;
//     top: 45%;
//     transform: translate(-50%, -50%);
//     // margin-left: 315px;
//     // margin-top: 354px;
//     // background: linear-gradient(94.41deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 161.95%);
//   }
//   .description {
//     margin: 0;
//     text-align: center;
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 60px;
//     color: rgba($color: #ffffff, $alpha: 0.6);
//   }
// }

.login-left {
  width: 100%;
  height: 100%;
  // background-image: url(../../assets/images/BG.png);
  background-size: 100%;
  -webkit-background-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .relogin-left-icon {
    position: absolute;
    width: 339px;
    height: 71px;
    margin-left: 22px;
    margin-top: 47px;
  }
  // .top{
  //   position: relative;
  // }
  .relogin-left-text2 {
    position: absolute;
    width: 193px;
    height: 17px;
    margin-left: 129px;
    margin-top: 106px;

    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.16em;

    color: #ffffff;
  }
  .relogin-left-ellipse {
    position: absolute;
    width: 430px;
    height: 430px;
    left: 26%;
    top: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(0px 4px 145px rgba(255, 255, 255, 0.1));
  }
  .relogin-left-text1 {
    position: absolute;
    width: 278.24px;
    height: 73.35px;
    left: 26%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .description {
    margin: 0;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    color: rgba($color: #ffffff, $alpha: 0.6);
  }
  .login-content {
    position: absolute;
    width: 443px;
    height: 542px;

    left: 78%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #ffffff;
    border-radius: 4px;
  }
  .el-button {
    background: #0a3166;
    border-radius: 8px;
    margin: 10px auto;
  }
  .login-img-captcha {
    .el-input__inner {
      padding-right: 150px;
    }
    .el-loading-mask {
      user-select: none;
    }
    .el-loading-spinner {
      margin-top: -11px;
    }
    .el-loading-spinner .circular {
      height: 22px;
      width: 22px;
    }
    .img-captcha-wrap {
      display: flex;
    }
    .img-captcha {
      border: none;
      cursor: pointer;
      user-select: none;
      width: 140px;
      height: 40px;
    }
  }
}